.container {
  margin-top: 20px;
}

.form-label {
  font-weight: bold;
}

.card-container {
  background-color: #ffffff; /* White background color */
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a modern look */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

h2.text-center {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
}