<div class="navbar">
  <div class="navbar-item navbar-left">
    <h1 routerLink="/">AutoVault</h1>
  </div>

  <div class="navbar-item navbar-right">
    <button routerLink="/car-form" routerLinkActive="active" [class.hidden]="currentRoute === '/car-form' || currentRoute.startsWith('/cars/')">Add or Update Car</button>
    <button routerLink="/cars" routerLinkActive="active" [class.hidden]="currentRoute === '/cars'">Car List</button>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Chat Icon -->
<div class="chat-icon" (click)="toggleChat()">
  <img src="assets/chat-bot.png" alt="Chat Icon" />
</div>

<!-- Chat Component -->
<app-chat *ngIf="isChatOpen" (minimize)="minimizeChat()"></app-chat>